$buttonWidth: 250px;
$containerWidth: $buttonWidth * 2 + 20px;

:global(#buttonContainer) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $containerWidth;
    transform: rotate(-45deg);

    a {
        text-decoration: none;
    }
    
    .button {
        width: $buttonWidth;
        height: $buttonWidth;
        border-radius: 20px;
    }

    .buttonMarket {
        background: rgba(134, 189, 36);

        &_disabled {
            background: rgba(134, 189, 36, 0.3);
        }
    }

    .buttonUser {
        background: rgba(2, 152, 169);

        &_disabled {
            background: rgba(2, 152, 169, 0.3);
        }
    }

    .buttonProgects {
        background: rgba(65, 69, 73);

        &_disabled {
            background: rgba(65, 69, 73, 0.3);
        }
    }

    .button_first {
        margin-bottom: 20px;
    }

    .button_second {
        transform: translateY(60px);
    }
}

.buttonText {
    font-family: "Open Sans", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    transform: rotate(45deg);
    color: #ffffff;
}

.title {
    font-family: "Open Sans", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 163px;
}

.mainBox {
    background-image: url("../../images/background.jpg");
    background-blend-mode: multiply;
    padding-top: 64px;
}

.link {
    text-decoration: none;
}