.userName {
    margin: 0;
    font-family: "Open Sans", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.team {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.boxUser {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
}

.page {
    min-height: 800px;
    display: flex;
}

.userLogo {
    width: 50px;
    height: 50px;
}

.userData {
    margin: 16px 0 70px 20px;
    display: flex;
}

.pageMenu {
    background: #f9f6f4;
    width: 330px;
    transform: translate(24px, 24px);
    display: flex;
    flex-direction: column;
}

.buttonText {
    margin-left: 24px;
    font-family: "Open Sans", "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
